@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
    <div class="col-lg">
        <img src="https://cdn.pixabay.com/photo/2015/03/11/01/33/hulk-667988__340.jpg" height="100" width="100" />
             
    </div>
    </div>
</div>
